@font-face {
    font-family: 'sinkin_sans600SBdIt';
    src: url('sinkinsans-600semibolditali-webfont.woff2') format('woff2'),
         url('sinkinsans-600semibolditali-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}